* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F9F9F9;
    color: #202020;
    background-repeat: no-repeat;
    font-family: "League Spartan", sans-serif;
    /* font-optical-sizing: auto; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #202020;
}

header {
    width: 100vw;
    height: 100vh;
}