.containerNav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}

.positionNav {
    /* width: 80%; */
    width: clamp(350px, 90%, 1700px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.positionLogo {
    /* width: clamp(100px, 200px, 300px); */
    width: 200px;
    height: 100%;
}

#logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nav {
    width: clamp(350px, 90%, 1700px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#nav ul {
    width: clamp(350px, 50%, 1700px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLiIcon {
    width: 35px;
    aspect-ratio: 1/1;
}

#burger {
    display: none;
}

@media screen and ( max-width: 800px) {
    #nav {
        display: none;
    }
    #burger {
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    #burger ul {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#backgroundImg {
    background-image: url(../../img/headerAccueil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.containerBackgroundImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionBackgroundImgTitle {
    width: clamp(350px, 90%, 700px);
    /* width: 700px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.backgroundImgTitle {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.containerBackgroundImgfleche {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}

.positionBackgroundImgfleche {
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #202020;
}

.positionBackgroundImgfleche img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    object-fit: contain;
}

.containerBanniereDefilante {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
}

marquee {
    width: 100%;
}